.div1{
    height: 10%;
    background: green;
    color: white
}

.div2{
    height: 80%;
    background: rgb(144, 184, 144);
    color: white;
}

.div3{
    height: 10%;
    background: rgb(123, 123, 187);
    color : white;
}


