.div1{
    height: 10%;
}

.div1Inner {
    width: 24.5%;
    background: blueviolet;
    border-right: 5px solid #cddc39;
    float: left;
    height: 100%;
    color: white;
}

.div2{
    height: 80%;
}

.div2Inner {
    background: #FFC107;
    height: 100px;
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 3px;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 5px;
}

.div3{
    height: 10%;
    background: rgb(123, 123, 187);
    color : white;
}


