.make-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cus-overlay {
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    width: 0;
    height: 150px;
    background: tomato;
    transition: 2s ease;
}


div.ref:hover .cus-overlay{
    width: 100%;
}

div.tref{
    opacity: 1;
    transition: 2s ease;
}
div.tref:hover{
    filter: brightness(85%);
}