/*ELEMENT SELECTOR */
#id1 {
    color:white;
    background: blue;
    border : 1px solid red;
}

div {
    color:white;
    background: green;
    border: 1px solid black;
}

.class1 {
    border: 2px solid yellow;
    background: tomato;
}

p {
    border: 1px solid green;
    background: yellow;
    color: blue;
    padding: 5px;
}

div p {
    color:white;
    background: brown;
}


<!--GROUP SELECTOR-->
/*div, p {
    background: blueviolet;
}*/

